$pColor:#207CC6;
$sColor: #ECF6FE;
$tColor: white;

$pColor-2: #62ADE8;
$bColor: #E1E1E1;
$textColor-1: #797979;
$textColor-2: #BBB;

$bg1: linear-gradient(0deg, rgba(48, 125, 207, 0.6), rgba(64, 125, 216, 0.6)), rgb(70, 138, 212);


//Fonts
$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;